build/
**/build/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.sw?
.vscode/
.cargo/
*.tmp
sdkconfig.old
*.bin
*.elf
*.hex
*.map
*.log
CMakeFiles/
CMakeCache.txt
Makefile
*.d
*.a
*.o
esp-idf/
lib/
*.db
*.bak
.devcontainer
# Python
__pycache__/
*.pyc
.venv/
.ruff_cache/
